<div id="{{id}}" class="filters {{class}}">    
    <img class="icon_button" style="opacity: 0.5; cursor:default;" src="/img/icon/filter.png" alt="filtrar">
    <div>
        <select name="filter_by" id="filter_by">
            <option class="invalid_option">*Filtrar Por*</option>
            <option value="department">Departamento:</option>
            <option value="section">Seção:</option>
            <option value="subsection">Subseção:</option>
            <option value="procedure">Procedimento:</option>
        </select>
    </div>
</div>