 <div id="departments_container" class="side_column_container">
    <h1 id="departments_container_header">
        Home
        <img id="home_icon" src="/img/icon/home.png" alt="">
    </h1>

    {{#departments}}
        <a href="/home/{{this.dataValues.id}}" class="all_button">{{this.dataValues.name}}</a>
    {{/departments}}
</div>