 <div id="departments_container" class="side_column_container">
    <h1 id="departments_container_header">
        Home
        <img id="home_icon" src="/img/icon/home.png" alt="">
    </h1>

    {{#departments}}
    <div class="department_link_container">
        <a href="/home/{{this.dataValues.id}}" class="all_button department_link">{{>id_span}}{{this.dataValues.name}} </a>
        {{#unless this.item_sections}}
            {{>edition/button/delete id=this.dataValues.id target='department' class="department_trash"}}
        {{/unless}}
    </div>
    {{/departments}}
{{>edition/forms/department class="hide"}}
</div>
<div class="department_button_container">
    {{>edition/button/add id="add_department_button" class="show"}}
    {{>edition/button/main_delete id="main_delete_button" class="department"}}
</div>