<div id="this_user_info_container" class="side_column_container">
    <img src="/img/icon/account.png" alt="" id="profile_pic">
    <div id="this_user_info">
        <h1 id="this_name"></h1>
        <hr>
        <p><strong>Usuário:</strong> <span id="this_username"></span> </p>
        <p><strong>Cargo:</strong> <span id="this_cargo"></span> </p>
        <p><strong>Departamento:</strong> <span id="this_department"></span> </p>
    </div>
</div>

<script type="module" src="/js/profile/this_user_info.js"></script>