<div id="this_user_info_container" class="side_column_container">
    <img src="/img/icon/account.png" alt="" id="profile_pic">
    <div id="this_user_info">
        <h1>Kevin Alexsander de Jesus</h1>
        <hr>
        <p><strong>Usuário:</strong>  kjesus</p>
        <p><strong>Cargo:</strong>  Assistente Técnico</p>
        <p><strong>Departamento:</strong>  Teste</p>
    </div>
</div>