<ol id="department_list" class=" show">
    {{>edition/edit/icon_button src="img/icon/filter.png" class="open show"}}
    <div id="section_list_filter" class="filters show">
        <div>
            {{#>forms/datalist name="department" label="*Departamento*"}}
                {{#departments}}
                    <option value='{{this.dataValues.name}}'>
                {{/departments}}
            {{/forms/datalist}}

            {{#>forms/datalist name="section_list" label="*Título"}}
                {{#item_sections}}
                    <option value='{{this.dataValues.name}}'>
                {{/item_sections}}
            {{/forms/datalist}}

            {{#>forms/datalist name="section_list" label="*Título"}}
                {{#item_sections}}
                    <option value='{{this.dataValues.name}}'>
                {{/item_sections}}
            {{/forms/datalist}}

            {{#>forms/datalist name="section_list" label="*Título"}}
                {{#item_sections}}
                    <option value='{{this.dataValues.name}}'>
                {{/item_sections}}
            {{/forms/datalist}}
        </div>
    </div>
    
    {{#item_sections}}
        {{>edition/li_box title = this.dataValues.name}}
    {{/item_sections}}
</ol>