<section id="add_department_form" class="register form_section edition_form">
    <header class="form_header">
        <h1>Novo Departamento</h1>
    </header>
    <form>
        {{>template_form_input_box name="department_title" type="text" text="*Título"}}
        {{>template_form_button_container}}
    </form>
</section>