<section id="add_user_form" class="register form_section edition_form">
    <header class="form_header">
        <h1>Novo Usuário</h1>
    </header>
    <form>
        
        <div class="input_box">
             <input id="name" class="text_input name" type="text" name="name" required>
            <label for="name" class="register_label">*Nome Completo</label>
        </div>
        <div class="input_box">
             <input id="username" class="text_input username" type="text" name="username" required>
            <label for="username" class="register_label">*Nome de Usuário</label>
        </div>

        <div class="password_container">
            <div class="input_box">
                <input id="password" class="text_input" type="password" name="password" required>
                <label for="password" class="register_label">*Senha</label>
            </div>
            
            <div class="input_box">
                <input  id="confirm_password" class="text_input" type="password" name="confirm_password" required>
                <label  for="confirm_password" class="register_label">*Confirmar Senha</label>
            </div>
        </div>
        
        <div class="datalist_container input_box">
            <input class="text_input" list="department" name="department_list" required>
            <label class="register_label" for="department_list">*Departamento</label>
            <datalist name="department" id="department">
                {{#departments}}
                <option value="{{this.dataValues.name}}">
                {{/departments}}
            </datalist>
        </div>

        <div class="button_container">
            <button class="all_button" type="reset">Resetar</button>

            <button class="all_button" type="submit">Cadastrar</button>
        </div>
    </form>
</section>