<section id="add_section_form" class="register form_section edition_form">
    <header class="form_header">
        <h1>Nova Seção</h1>
    </header>
    <form action="/auth" method="POST">
        
        <div class="input_box">
             <input id="section_title_input" class="text_input title" type="text" name="section_title" required>
            <label for="section_title" class="register_label">Título da Seção</label>
        </div>

        <div class="button_container">
            <button class="all_button" type="reset">Resetar</button>

            <button class="all_button" type="submit">Cadastrar</button>
        </div>
    </form>
</section>