<section id="add_subsection_form" class="register form_section edition_form">
    <header class="form_header">
        <h1>Nova Subseção</h1>
    </header>
    <form action="/auth" method="POST">
        
        <div class="input_box">
             <input id="subsection_title_input" class="text_input title" type="text" name="subsection_title" required>
            <label for="subsection_title" class="register_label">Título da Subseção</label>
        </div>

        <div class="button_container">
            <button class="all_button" type="reset">Resetar</button>

            <button class="all_button" type="submit">Cadastrar</button>
        </div>
    </form>
</section>