<section id="add_department_form" class="register form_section edition_form">
    <header class="form_header">
        <h1>Novo Departamento</h1>
    </header>
    <form>
        
        <div class="input_box">
             <input id="department_title_input" class="text_input title" type="text" name="department_title" required>
            <label for="department_title" class="register_label">*Título</label>
        </div>

        <div class="button_container">
            <button class="all_button" type="reset">Resetar</button>

            <button class="all_button" type="submit">Cadastrar</button>
        </div>
    </form>
</section>