<header>
        <div id="operation_container" class="radio_container">
            <div class="radio_box">
                <input class=" operation" id="add" type="radio" value="add" name="operation">
                <label class="radio_label" for="add">Adicionar</label>
            </div>

            <div class="radio_box">
                <input class=" operation" id="edit" type="radio" value="edit" name="operation">
                <label class="radio_label" for="edit">Editar</label>
            </div>
        </div>

        <div id="table_container" class="redio_container">
            <!-- department -->
            <div class="radio_box">            
                <input class="table" type="radio" id="department" name="table" value="department">
                <label for="department">Departamento</label>
            </div>
            <!-- section -->
            <div class="radio_box">
                <input class="table" type="radio" id="item_section" name="table" value="item_section">
                <label for="item_section">Seção</label>
            </div>
            <!-- subsection -->
            <div class="radio_box">
                <input class="table" type="radio" id="item_subsection" name="table" value="item_subsection">
                <label for="item_subsection" >Subseção</label>
            </div>
            <!-- item -->
            <div class="radio_box">
                <input class="table" type="radio" id="item" name="table" value="procedure">
                <label for="item">Procedimento</label>
            </div>
            <!-- user -->
            <div class="radio_box">
                <input class="table" type="radio" id="user" name="table" value="user">
                <label for="user">Usuário</label>
            </div>
        </div>
    </header>