<!--main edition buttons-->
<div class="edit_button_container">
    <!--save changes button-->
    <img class="edition_button save_button icon_button all_button" src="/img/icon/diskette.png" alt="Salvar Mudanças">
    <!--cancel changes button-->
    <img class="edition_button discard_button icon_button all_button " src="/img/icon/close.png" alt="Descartar Mudanças">
    <!--edit button-->
    <img class="edition_button start_edition icon_button all_button " src="/img/icon/pencil.png" alt="Editar">
</div>

<!--pencil button
<img class="pencil_button edition_button icon_button all_button" src="/img/icon/pencil.png" alt="Editar">
-->
<!--plus button
<button class="edition_button add_button all_button">+</button>
-->