

    <div id="operation_container" class="radio_container">
        <select name="operation" id="operation">
            <option class="invalid_option" value="">*Selecione a Operação</option>
            <option value="add">Adicionar</option>
            <option value="edit">Editar</option>
        </select>
    </div>

    <div id="table_container" class="redio_container">

        <select class="show" name="table" id="table">
            <option class="invalid_option" value="">*Selecione a Tabela</option>
            <option value="department">Departamento</option>
            <option value="section">Seção</option>
            <option value="subsection">Subseção</option>
            <option value="procedure">Procedimento</option>
            <option value="user">Usuário</option>
        </select>
        <!--
        <select class="show" name="table" id="table_add">
            <option class="invalid_option" value="">*Selecione a Tablea</option>
            <option value="add_department">Departamento</option>
            <option value="add_section">Seção</option>
            <option value="add_subsection">Subseção</option>
            <option value="add_procedure">Procedimento</option>
            <option value="add_user">Usuário</option>
        </select>

        <select class="" name="table" id="table_edit">
            <option class="invalid_option" value="">*Selecione a Tablea</option>
            <option value="edit_department">Departamento</option>
            <option value="edit_section">Seção</option>
            <option value="edit_subsection">Subseção</option>
            <option value="edit_procedure">Procedimento</option>
            <option value="edit_user">Usuário</option>
        </select>
        -->
    </div>
