<header class = "header">
    <nav class="settings_nav">
        <img class="settings_button all_button " src="/img/icon/settings.png" alt="Opções">

        <div class="settings_links_container">
            <a class="all_button settings_anchor" href="/">Departamentos</a>
        </div>
    </nav>
    
    <h1 id = "home" class="headerTitle">
        {{title}}
    </h1>
</header>

{{>burger id = 'nav_burger' class = 'burger'}}

<a href="#home" class="">
    <img class="home_button all_button" src="/img/icon/home.png" alt="Inicio"> 
</a>