<div id="modal" class="modalContainer ">
    <div id="conceptModalFrame" class="modalFrame">
        <div class="modalHeader">
            <h3 class="modal_title">modal</h3>
            <button class="modalCloseButton all_button">X</button>
        </div>

        <div class="modalContent itemContent"></div>
    </div>
</div>

   