{{#item_sections}}
    <li>
        <h1 class="section_links all_button">{{this.dataValues.name}}</h1>

        <div class="subsection_links while_hidden">
            {{#each this.dataValues.item_subsections}}
            <a class = "all_button subsection_anchor" href = '#{{this.dataValues.name}}'>{{this.dataValues.name}}</a>
            {{/each}}
        </div>
    </li>
{{/item_sections}}