/* estilo do itens */

section{
    padding-top: 20px;
}

.itemList{
    background-color: #fff;
    padding: 15px; 
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-width: 0px 0px 0px 6px;
    border-style: solid; 
        box-shadow: 1px 1px 7px gray;
}
.itemList:hover{
}

h4{
    padding: 5px;
}

h3{
    font-size:25pt;
}

h1, h2, h3, h4, h5{
    font-weight:bold;
}

.itemHeader{
    display: inline-block;
}

.itemSection{
    padding-top: 20px;
}

.itemContent{
    padding-right: 30px;
    padding-left: 30px;
    padding: 10px;
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px;
}

/* checklist */
.checklist{
    border-color: #6495ED;
    color: #4c77c7;
    
}
.checklistItemH3{
    color: #6495ED;
}
.checklistItemTitle{
    color: #fff;
    background-color: #6495ED;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
}

/*extras*/
.extra{
    border-color: #FFD700;
}
.extraItemH3{
    color: #FFD700;
}
.extraItemTitle{
    color: #fff;
    background-color: #FFD700;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
}


