/* estilo do itens */

section{
    padding-top: 20px;
}

.itemList{
    background-color: #fff;
    padding: 15px; 
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-width: 0px 0px 0px 6px;
    border-style: solid; 
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.322);
}

.itemList:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
    transition: .2s;  
}

.emptyItemList{
    background-color: #eee;
    padding: 15px; 
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-width: 1px 1px 1px 6px;
    border-style: solid; 
}

h4{
    padding: 5px;
}

.sectionTitle{
    font-size:25pt;
}

h1, h2, h3, h4, h5{
    font-weight:bold;
}

.itemTitle{
    font-size: 30pt;
}
.itemHeader{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
}

.itemSection{
    padding-top: 20px;
}

.itemContent{
    
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px;
}

.subItemContent{
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
}

/* checklist */
.checklist{
    border-color: #6495ED;
    color: #4c77c7;
    
}

.checklistItemTitle{
    color: #fff;
    background-color: #6495ED;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
}

/*extras*/
.extra{
    border-color: #FFD700;
}

.extraItemTitle{
    color: #fff;
    background-color: #FFD700;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
}


