<section id="add_subsection_form" class="register form_section edition_form">
    <header class="form_header">
        <h1>Nova Subseção</h1>
    </header>
    <form>
        {{>forms/input_box name="subsection_title" type="text" text="*Título"}}
        
        <div class="datalist_container input_box">
            <input class="text_input" list="subsection_section" name="subsection_section" required>
            <label class="register_label" for="subsection_section">*Seção</label>
            <datalist name="subsection_section" id="subsection_section">
                {{#each item_sections}}
                    <option value="{{this.dataValues.name}}">
                {{/each}}
            </datalist>
        </div>

        <div class="input_box textarea">
            <label  for="description" class="">*Descrição</label>
            <textarea id="subsection_description_input" type="textarea" class="" name="description"></textarea>
        </div>

        {{>forms/button_container}}
    </form>
</section>