<section id="add_user_form" class="register form_section edition_form ">
    <header class="form_header">
        <h1>Novo Usuário</h1>
    </header>
    <form>
        {{>forms/input_box name="name" type="text" text="*Nome Completo"}}
        {{>forms/input_box name="username" type="text" text="*Nome de Usuário"}}

        <div class="password_container">
            {{>forms/input_box name="password" type="password" text="*Senha"}}
            {{>forms/input_box name="confirm_password" type="password" text="*Confirmar Senha"}}
        </div>

        {{>forms/datalist_input name="user_department" text="*Departamentos"}}
        <datalist name="user_department" id="user_department">
            {{#departments}}
            <option value="{{this.dataValues.name}}">
            {{/departments}}
        </datalist>
        {{>forms/button_container}}
    </form>
</section>