#profile{
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;

    padding: 80px 20px 10px 10px;

    position: absolute;
    animation: var(--slide_and_fade);
}

#profile #main_column{
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}


#profile #main_menu{
    height: 50px;
    display: flex;
    justify-content: space-around;

    gap: 10px;
}
#profile #main_content{
    position: relative;
}
#profile #main_menu button{
    border: none;
    background: none;
    color: var(--contrast_color);
    font-size: 20pt;

    border: solid var(--gradient_color_5);
    border-width: 1px;
    border-radius: 25px;

    width: 100%;
}
#profile #main_menu .radio_box{
    width: 100%;
    background: none;
    color: var(--contrast_color);
}
#profile #main_menu .radio_box label{
    font-size: 20pt;

    border: solid var(--gradient_color_5);
    border-width: 1px;
    border-radius: 25px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#profile #main_menu .radio_box input{
    display: none;
}
#profile .radio_box input:checked ~ label{
    background-color: var(--contrast_color);
    color: var(--gradient_color_1);
    border: none;
    transition: 0.1s;
}

#this_user_info_container{
    position: sticky;
    top: 0;
}
#profile #bg_img{
    padding: 0 100px;
    width: 800px;
    position: fixed;
    top: 0;

    opacity: 0.03;

    z-index: -1;
}
