#profile #requisition_list_container{
    border: solid var(--gradient_color_5);
    border-width: 1px;
    color:var(--contrast_color);
}
#profile #user_list_container #list_header{
    width: 100%;
    background-color: var(--gradient_color_2);

    border: solid var(--gradient_color_5);
    border-width: 0 0 1px 0;

    padding: 0px 10px 0px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profile #user_list_content{
    padding: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#profile #requisition_list_container h1{
    font-size: 20pt;
    margin: 0;
    color: var(--min_contrast_color);
}
#profile #requisition_list_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}
#profile .req_container{
    

    padding: 10px;

    width: 100%;

    display: flex;
    gap: 20px;
}
#profile .req_title_container{

    font-size: 20pt;
}
#profile .req_description_container{
    border: solid var(--gradient_color_5);
    border-width: 1px;

    width: 70%;
    height: 100%;
    padding: 10px;

    overflow-y: scroll;
}
#profile .req_description_label{
    border: solid var(--gradient_color_5);
    border-width: 0 0 1px 0;
}
#profile .req_info_container p{
    margin: 0;
}
#profile #req_menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--min_contrast_color);

    border: solid var(--gradient_color_5);
    border-width: 0 0 1px 0;
}
#profile #req_menu input{
    display: none;
}
#profile #req_menu input:checked ~ label{
    background-color: var(--contrast_color);
    color: var(--gradient_color_1);
}
#profile #req_menu label, #profile #req_menu .req_radio_box{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}