#right_column{
    position: sticky;
    top: 60px;
}
#profile .side_column{
    height: 100%;
    width: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;  
}
#profile .side_column_container {
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#profile #departments_container{
    border: solid var(--gradient_color_5);
    color: var(--contrast_color);
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    box-shadow: var(--standard_shadow_strong);
    
    position: relative;
}
#profile #departments_container .department_link{
    width: 100%;
    position: relative;

    font-family: monospace;
    font-weight: normal;
}
#profile #departments_container_header{
    font-size: 25pt;
    width: 100%;
    border: solid;
    border-width: 0 0 2px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    font-family: 'Times New Roman', Times, serif;
}
#profile #left_column{
    position: sticky;
    top: 10px;
}
#profile #home_icon{
    width: 35px;
}
#profile #profile_pic{
    height: 150px;
}
#profile #this_user_info p{
    padding: 0;
    margin: 0;

    font-family: monospace;
}
#profile #this_user_info p strong{
    font-weight: normal;
}
#profile #this_user_info h1{
    font-size: 17pt;
    font-family: 'Times New Roman', Times, serif;
}
#profile #departments_container{
    border: none;
    box-shadow: none;
    cursor: pointer;
}
#profile .department_link_container{
    width: 100%;
    border: solid var(--contrast_color);
    border-width: 0 5px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    background: var(--gradient_color_3);

}
#profile .department_link_container:hover{
    border-width: 0 20px 0 20px;
    transition: .3s;
}

#profile .department_link_container .department_trash img{
    width: 20px;
    height: 20px;
}