#profile #user_list_container{
    color:var(--contrast_color);

}
#profile .list_header{
    width: 100%;
    background-color: var(--gradient_color_2);
    
    border: solid var(--gradient_color_5);
    border-width: 1px;
    
    padding: 0px 10px 0px 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    z-index: 2;
}
#profile .list_content{
    padding: 30px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile .user_info_container{
    border: solid var(--gradient_color_5);
    border-width: 1px;
    border-radius: 5px;

    width: 90%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
#profile .user_info{
    width: 100%;
}
#profile .user_info_container h1{
    font-size: 20pt;
    border: solid var(--gradient_color_5);
    border-width: 0 0 1px 0;

    width: 100%;

    display: flex;
    justify-content: flex-start;
}
#profile .user_info_container p{
    padding: 0;
    margin: 0;
    font-size: 13pt;
}
#profile .user_pic{
    height: 50px;
}

#profile #user_list_container #user_quantity_container{
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 10px;
}
#profile #user_list_container #user_quantity_container p{
    margin: 0;
    padding: 0;
}
#profile #user_list_container #user_quantity_icon {
    opacity: 0.5;
    height: 30px;
}
#profile #edition_container{
    display: flex;
    gap: 20px;
}
#profile .user_info_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
}
#profile .user_permission_tag{
    border: solid var(--contrast_color);
    border-width: 1px;
    padding: 3px 10px 3px 10px;
    border-radius: 25px;

    font-size: 12pt;
}
#profile .user_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}