<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Service Lenovo</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--styles-->
    <link rel="stylesheet" href="">

    <!--main css-->
    <style>
        :root{

            /*
            --mainColor: #FF6347;
            --gradient_color_1: #fff;
            --gradient_color_2: #eee;
            --gradient_color_3: #ddd;
            --gradient_color_4: #fff;
            --contrast_color: #000;
            */

            --mainColor: #FF6347;
            --gradient_color_1: #111;
            --gradient_color_2: #222;
            --gradient_color_3: #333;
            --gradient_color_4: #444;
            --contrast_color: #fff;
            
            --sectionColor_1: #6495ED;
            --sectionColor_2: #ffbc04;

            --errorColor: rgb(255, 121, 121);
        }

        .header_color{
            color: var(--gradient_color_1);
        }

        body{
            margin-left:0px;
            background-color: var(--gradient_color_1);
            font-family: Arial, sans-serif;
            font-size: 14pt;
        }

        #content{
            max-width: 100vw;
            margin: auto;
            background-color: var(--gradient_color_2);
            padding: 25px;
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        section{
            margin-bottom: 40px;
            justify-content: center;
        }

        p{
            text-align: justify;
            color: var(--contrast_color);
        }

        h4, a{
            text-decoration: none;
            font-weight: bold;
            color: var(--contrast_color);
        }

        h3, h2, h1 {
            text-align: center;
        }

        ul{
            list-style: none;
        }

        .mainUl{
            list-style: none;
            margin:0px; 
            padding: 0px;
            }

        .subUl{
            list-style: disc;
            padding: 15px;
        }
        /* cabeçalho */
            .header{
                background-color: var(--gradient_color_1);
                margin-top:0;
                padding-top: 30px;
                padding-left: 10px;
                padding-bottom: 1px;
            }
            .headerTitle{
                color: var(--mainColor);
                border: solid;
                border-width:  0px 0px 3px 0px;
            }
            nav li, nav a{
                display: inline-block;
                padding-right: 10px;
                padding-bottom: 5px;
            }
           

            .buttonAnchor{
                background-color: rgba(161, 150, 150, 0);
                color: var(--mainColor);
                padding: 5px;
                border-radius: 5px;

                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                height: 30px;
            }

            .buttonAnchor:hover{
                
                background-color: rgba(161, 150, 150, 0);
                color: #ccc;
                transition: .2s;
            }

            .concept{
                cursor: pointer;
            }

            .concept:hover{
                color: #666;
                text-decoration: underline;
            }
    </style>

    <!--item css-->
    <style>
        /* estilo do itens */
        section{
            padding-top: 20px;
        }

        .item_subsection{
            margin-top: 80px;
            padding-top: 20px;

            border-width: 3px 0px 0px 0px;
            border-style: solid;

            justify-content: center;
        }

        .item_subsection_content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .itemList{
            background-color: var(--gradient_color_4);

            padding: 5px;

            margin: 10px;

            border-radius: 6px;
            border-width: 2px 2px 2px 9px;
            border-style: solid;

            width: 510px;

            display: flex;
            align-content: center;
            justify-content: center;
        }

        .itemList:hover{
            border-width: 3px 50px 3px 50px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.801);
            transition: .3s;  
        }

        .emptyItemList{

            background-color: var(--gradient_color_2);

            border-radius: 6px;
            border-width: 1px 1px 1px 8px;
            border-style: solid; 
            box-shadow: 0 0 0;
        }

        .emptyItemList:hover{
            border-radius: 6px;
            border-width: 1px 1px 1px 8px;
            border-style: solid; 
            box-shadow: 0 0 0;
        }

        .itemListPage{
            background-color: var(--gradient_color_1);
            padding: 15px; 
            padding-bottom: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 6px;
            border-width: 0px 0px 0px 6px;
            border-style: solid; 
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.322);
        }

        h4{
            padding: 5px;
        }

        .sectionTitle{
            font-size:25pt;
        }

        h1, h2, h3, h4, h5{
            font-weight:bold;
        }

        .itemTitle{
            font-size: 30pt;
            margin: auto;
        }
        .itemHeader{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 0px;
        }

        .itemContent{
            
            padding: 15px;
            padding-right: 50px;
            padding-left: 50px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-radius: 5px;
            background-color: var(--gradient_color_2);
            margin: 10px;
        }

        .subItemContent{
            padding: 20px;
            padding-right: 50px;
            padding-left: 50px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-radius: 5px;
            background-color: var(--gradient_color_1);
            margin: 10px;
        }

        .section_title{
            color: #fff;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 15px;
            border: solid 4px;

            display: flex;
            justify-content: space-between;
            background-color: var(--gradient_color_1);
        }

        /* sections colors */
        .section_color_1{
            border-color: var(--sectionColor_1);
            color: var(--sectionColor_1);
            
        }

        .background_section_color_1{
            background-color: var(--sectionColor_1);
        }

        .section_color_2{
            border-color: var(--sectionColor_2);
            color: var(--sectionColor_2);
        }

        .background_section_color_2{
            background-color: var(--sectionColor_2);
        }

    </style>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>