<header class = "header">
    <nav class="settings_nav">
        <img class="settings_button all_button " src="/img/icon/settings.png" alt="Opções">
    </nav>
    
    <h1 id = "home" class="headerTitle">
        Guia de {{title}}
    </h1>
</header>