<select name="open_add_form" id="{{id}}" class="{{class}}">
    <option class="invalid_option" value="">*Conteudo*</option>
    <option value="department">Departamento</option>
    <option value="section">Seção</option>
    <option value="subsection">Subseção</option>
    <option value="procedure">Procedimento</option>
    <option value="solution">Solução</option>
    <option value="issue">Possível Problema</option>
    <option value="obs">Observação</option>
</select>