<button id="{{id}}" class="main_delete_container {{class}}">
    <img id="main_delete" class="icon_button "src="/img/icon/trash-bin.png" alt="">
    <div style="font-size: 15pt;font-weight:bold;">Deletar</div>
</button>