<section class="content">
    {{>main/header title="Selecione um Depatamento"}}
    {{#>edition/tool_bar}}
        <option value="department">Departamento</option>
    {{/edition/tool_bar}}
    <div class="department_list">
        {{#each departments}}
            <a href="/home/{{this.dataValues.id}}" class="department_item section_color_{{this.dataValues.id}}">
                {{this.dataValues.name}}
            </a>
        {{/each}}
    </div>
</section>