{{>main/header title = 'Guia de Procedimentos'}}
{{>nav/home}}
{{#>edition/tool_bar}}
    <option value="section">Seção</option>
    <option value="subsection">Subseção</option>
    <option value="procedure">Procedimento</option>
{{/edition/tool_bar}}

<section id="content">
    {{#>home/section_list}}
        {{#>home/subsection_list}}
            {{>home/item_list}}
        {{/home/subsection_list}}
    {{/home/section_list}}
</section>
