{{>main/header title = 'Guia de Procedimentos'}}
{{>edition/link}}
{{>nav/home}}

<section id="content">
    {{#>home/section_list}}
        {{#>home/subsection_list}}
            {{>home/item_list}}
        {{/home/subsection_list}}
    {{/home/section_list}}
</section>