{{>main/header title = 'Guia de Procedimentos'}}
{{>nav/home}}
{{>edition/tool_bar/home_page}}

<section id="content">
    {{#>home/section_list}}
        {{#>home/subsection_list}}
            {{>home/item_list}}
        {{/home/subsection_list}}
    {{/home/section_list}}
</section>

