{{#departments}}
{{>home/header title = this.dataValues.name}}
{{>main/home_button}}
{{>nav/home}}

{{#>edition/tool_bar department_id = this.dataValues.id department_name = this.dataValues.name}}
    <option value="section">Seção</option>
    <option value="subsection">Subseção</option>
    <option value="procedure">Procedimento</option>
{{/edition/tool_bar}}

<section id="content">
    {{#each this.item_sections}}
    {{#>home/section_list department = ../dataValues.id}}
        {{#each this.item_subsections}}
        {{#>home/subsection_list department = ../../../dataValues.id}}
            {{#each this.items}}
            {{>home/item_list department = ../../../../../dataValues.id}}
            {{/each}}
        {{/home/subsection_list}}
        {{/each}}
    {{/home/section_list}}
    {{/each}}
</section>
{{/departments}}

<script type="module" src="/js/main/subsection_modal.js"></script>
<script type="module" src="/js/main/modal.js"></script>
<script type="module" src="/js/main/nav.js"></script>