<section class="login_page_content">
    <div class="login_header">
        <h1 class="login_page_title ">Login</h1>
    </div>
    
    <form class="login_form">
        
        <div class="input_box">
             <input class="login_text_input" type="text" name="user" required>
            <label for="password" class="login_label">Nome de Usuário</label>
        </div>
        <div class="input_box">
             <input class="login_text_input" type="password" name="password" required>
            <label for="password" class="login_label">Senha</label>
        </div>
        
       
        <button class="login_button all_button" type="submit">Entrar</button>
    </form>
</section>