<section class="login_page_content">
    <div class="login_header">
        <h1 class="login_page_title ">Login</h1>
    </div>
    
    <form class="login_form">
        <input class="login_text_input" type="text" placeholder="Usuário">
        <input class="login_text_input" type="password" placeholder="Senha">
        <button class="login_button all_button">Entrar</button>
    </form>
</section>