<section id="content">
    {{> header title = procedure.dataValues.title}}
    {{> nav_procedure}}
    <!--#region content-->
    <div>
        <!--# item description-->
        {{#if procedure.dataValues.description}}
        <div class="item_content_container">
            <div class="item_content_header">
                <h2 id="description">Descrição</h2>

                <div class="page_content_burger content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
              </div>
            </div>

            <div class="item_content_text">
                {{{procedure.dataValues.description}}}
            </div>
            
        </div>
        {{/if}}

        <!--# item solution-->
        {{#if item_solutions}}
            {{>procedure_content category = item_solutions title = 'Soluções' id = 'solutions'}}
        {{/if}}

        <!--# item obs-->
        {{#if item_obs}}
            {{>procedure_content category = item_obs title = 'Observações' id = 'obs'}}
        {{/if}}

        <!--# item issues-->
        {{#if item_issues}}
            {{>procedure_content category = item_issues title = 'Possíveis Problemas' id = 'issues'}}
        {{/if}}

        <!--# comments-->
        {{#if comments}}
            {{>procedure_content category = comments title = 'Comentários' id = 'comments'}}
        {{/if}}   
    </div>
<!--#endregion-->
</section>