<!--#region cabeçalho da pagina -->  
<header class = "header">
    
</header>
<!--#endregion-->

<!--#region content-->
<section id="content">
    <div class = "itemListPage">

        <!--title-->
        <div class = "itemHeader"> 
            <h1 class="itemTitle  ">{{procedure.dataValues.title}}</h1>
        </div>

        <!--item content-->
        {{#if procedure.dataValues.description}}
        <div class="item_content_page">
            <div class="item_content_header">
                <h2>Descrição</h2>

                <div class="page_content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
              </div>
            </div>

            <div class="item_content_text">
                {{{procedure.dataValues.description}}}
            </div>
            
        </div>
        {{/if}}

        <!--item solution-->
        {{#if procedure.dataValues.solutions}}
        <div class="item_content_page">
            <div class="item_content_header">                
                <h2>Soluções</h2>

                <div class="page_content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
              </div>
            </div>
            <div class="item_content_text">
                {{{procedure.dataValues.solutions}}}
            </div>
        </div>
        {{/if}}

        <!--item obs-->
        {{#if procedure.dataValues.obs}}
        <div class="item_content_page">
            <div class="item_content_header">                
                <h2>Obs</h2>

                <div class="page_content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
              </div>
            </div>
            {{{procedures.dataValues.obs}}}
        </div>
        {{/if}}

        <!--item problems-->
        {{#if procedure.dataValues.problems}}
        <div class="item_content_page">
            <div class="item_content_header">
                <h2>Possíveis Problemas</h2>

                <div class="page_content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
              </div>
            </div>
        </div>
        {{/if}}


        <!--footer-->
        <footer>
            <a href="/" rel="prev" target="self" class="all_button">Voltar</a>
        </footer>
    </div>
</section>
<!--#endregion-->