{{#procedure}}
<section id="content">
    {{>main/header title = this.dataValues.title}}
    {{>nav/procedure}}
    {{>edition/tool_bar/procedure_page}}
    <div>
        <!--# item description-->
        {{#if this.dataValues.description}}
        <div class="item_content_container">
            <div class="item_content_header">
                <h2 id="description">Descrição</h2>

                {{>main/burger class='page_content_burger content_burger'}}
            </div>

            <div class="item_content_text">
                {{{this.dataValues.description}}}
            </div>           
        </div>
        {{/if}}
        <!--# item solution-->
            {{#if this.item_solutions}}
                {{>procedure/content category = item_solutions title = 'Soluções' id = 'solutions'}}
            {{/if}}
            <!--# item obs-->
            {{#if this.item_obs}}
                {{>procedure/content category = item_obs title = 'Observações' id = 'obs'}}
            {{/if}}
            <!--# item issues-->
            {{#if this.item_issues}}
                {{>procedure/content category = item_issues title = 'Possíveis Problemas' id = 'issues'}}
            {{/if}}
            <!--# comments-->
            {{#if this.comments}}
                {{>procedure/content category = comments title = 'Comentários' id = 'comments'}}
            {{/if}}   
    </div>

    {{#>main/block_modal id="edition_modal"}}
        {{>edition/forms/solution class=""}}
        {{>edition/forms/issue class=""}}
        {{>edition/forms/obs class=""}}
    {{/main/block_modal}}
</section>
{{/procedure}}