<!--#region cabeçalho da pagina -->  
<header class = "header">
    
</header>
<!--#endregion-->

<!--#region content-->
<section id="content">
    <div class = "itemListPage">

        <!--title-->
        <div class = "itemHeader section_color_{{}}"> 
            <h1 class="itemTitle itemHeader ">{{procedure.dataValues.title}}</h1>
        </div>
        <!--item content-->
        
        <!--#endregion-->    
            
        </div>
        <!--footer-->
        <footer>
            <a href="/" rel="prev" target="self">Voltar</a>
        </footer>
    </div>
</section>
<!--#endregion-->