<section id="content">
    {{>main/header title = procedure.dataValues.title}}
    {{>nav/procedure}}
    <div>
        <!--# item description-->
        {{#if procedure.dataValues.description}}
        <div class="item_content_container">
            <div class="item_content_header">
                <h2 id="description">Descrição</h2>

                {{>main/burger class='page_content_burger content_burger'}}
            </div>

            <div class="item_content_text">
                {{{procedure.dataValues.description}}}
            </div>           
        </div>
        {{/if}}
        <!--# item solution-->
        {{#if item_solutions}}
            {{>procedure/content category = item_solutions title = 'Soluções' id = 'solutions'}}
        {{/if}}
        <!--# item obs-->
        {{#if item_obs}}
            {{>procedure/content category = item_obs title = 'Observações' id = 'obs'}}
        {{/if}}
        <!--# item issues-->
        {{#if item_issues}}
            {{>procedure/content category = item_issues title = 'Possíveis Problemas' id = 'issues'}}
        {{/if}}
        <!--# comments-->
        {{#if comments}}
            {{>procedure/content category = comments title = 'Comentários' id = 'comments'}}
        {{/if}}   
    </div>

    {{#>main/block_modal id="edition_modal"}}
        {{>edition/forms/solution class=""}}
        {{>edition/forms/issue class=""}}
        {{>edition/forms/obs class=""}}
    {{/main/block_modal}}
</section>