{{#departments}}
{{#each this.item_sections}}
{{#each this.item_subsections}}
{{#each this.items}}
<section id="procedure_page_container">
    {{>main/header title = this.dataValues.title}}
    {{>main/home_button}}
    {{>nav/procedure}}
    {{#>edition/tool_bar}}
        <option value="solution">Solução</option>
        <option value="obs">Observação</option>
        <option value="issue">Possível Problema</option>
    {{/edition/tool_bar}}
    <div id="procedure_page_inner_container">
        <!--# item description-->
        {{#if this.dataValues.description}}
        <div class="item_content_container">
            <div class="item_content_header">
                <h2 id="description" class=" content_title_text ">
                    Descrição
                </h2>

                {{>main/burger class='page_content_burger content_burger'}}
            </div>

            <div class="item_content_text showed_content">
                <p class=" procedure_description_text single_content_text">{{{this.dataValues.description}}}</p>

                {{>edition/forms/update/description
                    target='procedure'
                    id=this.dataValues.id
                    form_class='update_procedure_description_form'
                    redirect=this.dataValues.id
                    collumn='description'
                    input_value=this.dataValues.description
                    input_style='height: 300px; min-width: 100%; width: 900px'
                }}

                {{>edition/button/edit class="edit_section update_procedure_description"}}
            </div>           
        </div>
        {{/if}}
        <!--# item solution-->
        {{#if this.item_solutions}}
            {{#>procedure/content_container 
                category=item_solutions 
                title="Soluções" 
                id="solutions"
                target="solution"
                redirect=this.dataValues.id

                update_button_class='edit_section update_solution_title'
                form_class='update_solution_title_form'

                update_content_button_class='edit_section update_solution_description'
                content_form_class='update_solution_description_form'
                }}

                {{>edition/button/delete target='solution' redirect=../dataValues.id}}

            {{/procedure/content_container}}
        {{/if}}
        <!--# item obs-->
        {{#if this.item_obs}}
            {{#>procedure/content_container 
                category=item_obs 
                title='Observações' 
                id='Obs'
                target="obs"
                redirect=this.dataValues.id

                update_button_class='edit_section update_obs_title'
                form_class='update_obs_title_form'

                update_content_button_class='edit_section update_obs_description'
                content_form_class='update_obs_description_form'
                }}

                {{>edition/button/delete target='obs' redirect=../dataValues.id}}

            {{/procedure/content_container}}
        {{/if}}
        <!--# item issues-->
        {{#if this.item_issues}}
            {{#>procedure/content_container 
                category=item_issues 
                title='Possíveis Problemas' 
                id='issues'
                target="issue"
                redirect=this.dataValues.id

                update_button_class='edit_section update_issue_title'
                form_class='update_issue_title_form'

                update_content_button_class='edit_section update_issue_description'
                content_form_class='update_issue_description_form'
                }}

                {{>edition/button/delete target='issue' redirect=../dataValues.id}}

            {{/procedure/content_container}}
        {{/if}}
    </div>
    <a href="/home/{{../../../dataValues.id}}" id="home_link">Home</a>
</section>
{{/each}}
{{/each}}
{{/each}}
{{/departments}}

<script type="module" src="/js/procedure/content_container.js"></script>
<script type="module" src="/js/main/nav.js"></script>