{{>main/header title="Perfil"}}
<section id="profile">
    {{>main/home_button}}
    <!--right column-->
    <div id="left_column" class="side_column">
        {{>profile/this_user_info}}
    </div>
    <!--main column-->
    <div id="main_column">
        <!--menu-->
        {{>profile/main_column/menu}}
        <!--main content-->
        <div id="main_content">
            <img id="bg_img" src="/img/icon/lenovo (1).png" alt="">
            {{#>profile/main_column/users/list class="hide"}}
                {{>profile/main_column/users/info_container}} 
            {{/profile/main_column/users/list}}
            {{>profile/main_column/requisition/list class="hide"}}
        </div>
    </div>
    <!--right column-->
    <div id="right_column" class="side_column">
        {{>profile/departments_container}}
    </div>

</section>
 <!--script-->
<script type="module" src="/js/profile/main_menu.js"></script>
<script type="module" src="/js/profile/user_list.js"></script>
<script type="module" src="/js/profile/req_menu.js"></script>
<script type="module" src="/js/profile/add_department.js"></script>
<script type="module" src="/js/profile/this_user.js"></script>
<script type="module" src="/js/edition/delete_user.js"></script>
<script type="module" src="/js/edition/update/user.js"></script>