{{>main/header title="Perfil"}}
<section id="profile">
    {{>main/home_button}}
    <div id="left_column" class="side_column">
        <div id="this_user_info_container" class="side_column_container">
            <img src="/img/icon/account.png" alt="" id="profile_pic">
            <div id="this_user_info">
                <h1>Kevin Alexsander de Jesus</h1>
                <hr>
                <p><strong>Usuário:</strong>  kjesus</p>
                <p><strong>Departamento:</strong>  Teste</p>
                <p><strong>Cargo:</strong>  Assistente Técnico</p>
            </div>
        </div>
    </div>
    <div id="main_column">
        <div id="main_menu">
            <div class="radio_box">
                <input type="radio" name="main_menu" id="user_list">
                <label for="user_list">Usuários</label>
            </div>
            <div class="radio_box">
                <input type="radio" name="main_menu" id="approve_list">
                <label for="approve_list">Aprovações</label>
            </div>
            <div class="radio_box">
                <input type="radio" name="main_menu" id="comment_list">
                <label for="comment_list">Comentários</label>
            </div>
        </div>

        <div id="main_content">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <div id="right_column" class="side_column">
        <div id="departments_container" class="side_column_container">
            <h1 id="departments_container_header">
                Home
                <img id="home_icon" src="/img/icon/home.png" alt="">
            </h1>

            {{#departments}}
                <a href="/home/{{this.dataValues.id}}" class="all_button">{{this.dataValues.name}}</a>
            {{/departments}}
        </div>
    </div>
</section>