{{>main/header title="Perfil"}}
<section id="profile">
    <div id="left_column" class="side_column">
        <div id="this_user_info_container" class="side_column_container">
            <img src="/img/icon/account.png" alt="" id="profile_pic">
            <div id="this_user_info">
                <h1>Kevin Alexsander de Jesus</h1>
                <hr>
                <p><strong>Usuário:</strong>  kjesus</p>
                <p><strong>Departamento:</strong>  Teste</p>
                <p><strong>Cargo:</strong>  Assistente Técnico</p>
            </div>
        </div>
    </div>
    <div id="main_column">
        <div id="main_menu">
            <button class="all_button">Usuários</button>
            <button class="all_button">Aprovações</button>
            <button class="all_button">Comentários</button>
        </div>

        <div id="main_content">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <div class="side_column">
        <div id="departments_container" class="side_column_container">
            <h1 id="departments_container_header">
                Home
            </h1>

            <a href="" class="all_button">Análise</a>
            <a href="" class="all_button">Embalagem</a>
            <a href="" class="all_button">Teste</a>
        </div>
    </div>
</section>