.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.department_header{
    border: solid var(--contrast_color);
    border-width: 0 0 3px 0;

    letter-spacing: 1px;
}

.department_list{
    margin-top: 10vh;

    animation: open_departments 0.3s;
}

.department_item{
    background-color: var(--gradient_color_4);

    padding: 15px;

    margin: 25px;

    border-width: 0 0 0 9px;
    border-style: solid;

    width: 450px;

    display: flex;
    align-content: center;
    justify-content: center;

    box-shadow: 2px 2px 7px black;

    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 3px;
}

.department_item:hover{
    border-width: 0px 50px 0px 50px;
    transition: .3s;
}

@keyframes open_departments{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}