/* cabeçalho */
.header{
    color: var(--gradient_color_1);
    margin-top:0;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    background-color: var(--mainColor);
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;

    box-shadow: 2px 2px 7px black;
}

.headerTitle{
    color: var(--contrast_color);
}
/**
nav li, nav a{
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 5px;
}


.nav_anchor{
    background-color: rgba(161, 150, 150, 0);
    color: var(--mainColor);
    padding: 5px;
    border-radius: 5px;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 30px;
}

.nav_anchor:hover{
    
    background-color: rgba(161, 150, 150, 0);
    color: #ccc;
    transition: .2s;
}

