.itemListPage{
    background-color: var(--gradient_color_1);
    color: var(--contrast_color);
    padding: 15px; 
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-style: solid; 
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.322);
}

.item_content_page{
    
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--gradient_color_2);
    margin: 10px;
}