nav {
    display: flex;
    justify-content: center;

    background-color: var(--mainColor);

    position: fixed;
    left: 0vw;
    top: -15px;

}

.nav_links{
    position: absolute;
    left: 0vh;
    top: 15px;

    padding: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: var(--mainColor);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transform: translateX(-110%);
    transition: transform 0.2s ease-in;
}


.nav_links a{
    letter-spacing: 3px;
}

.burger{
    background-color: var(--mainColor);

    height: 50px;
    width: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    z-index: 2;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--contrast_color);
    margin: 2px;
}
.burger{
    position: absolute;
    top: 20px;
    left: 5vh;
    cursor: pointer;
}

.section_links{
    font-size: 16pt;
    letter-spacing: 3px;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

.subsection_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 33px;
    width: 360px;
    
    border: solid 2px var(--contrast_color);
    border-width: 1px 0 0 0;
    
    transform: translateX(-150%);
    transition: transform 0.3s ease-in;
    /*
    */
}

.while_hidden{
    transition: 0s;
    position: absolute;
}

.show{
    display: flex;
    transform: translateX(0%);
}