<header class = "header">
    <nav class="settings_nav">
        <img class="settings_button all_button " src="/img/icon/settings.png" alt="Opções">
    </nav>
    
    <h1 id = "home" class="headerTitle">
        {{title}}
    </h1>
</header>

<a href="#home" class="">
    <img id="home_button" class="home_button all_button" src="/img/icon/home.png" alt="Inicio"> 
</a>