<div id="section_req_list" class="{{class}}">
    {{#departments}}
        {{#each this.item_sections}}
                {{#unless this.approved}}
                    {{#>profile/main_column/requisition/req_container title = this.dataValues.name}}
                        <p><strong>linha:</strong> {{../../dataValues.name}}</p>
                    {{/profile/main_column/requisition/req_container}}
                {{/unless}}
        {{/each}}
    {{/departments}}
</div>