 /* estilo do itens */
 .item_section{
    padding-top: 20px;
    width: 90vw;
    position: relative;
}

.section_title{
    color: var(--contrast_color);
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    /* border: solid ;
    border-width: 0 0 3px 0; */

    letter-spacing: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

}
.section_title_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
}

.section_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* sections colors */
.section_color_1{
    border-color: var(--sectionColor_1);
    color: var(--sectionColor_1);
    
}

.background_section_color_1{
    background-color: var(--sectionColor_1);
}

.section_color_2{
    border-color: var(--sectionColor_2);
    color: var(--sectionColor_2);
}

.background_section_color_2{
    background-color: var(--sectionColor_2);
}

.section_color_3{
    border-color: var(--sectionColor_3);
    color: var(--sectionColor_3);
}

.background_section_color_3{
    background-color: var(--sectionColor_3);
}
.section_color_4{
    border-color: var(--sectionColor_4);
    color: var(--sectionColor_4);
}

.background_section_color_4{
    background-color: var(--sectionColor_4);
}
.section_color_5{
    border-color: var(--sectionColor_5);
    color: var(--sectionColor_5);
}

.background_section_color_5{
    background-color: var(--sectionColor_5);
}
.section_color_6{
    border-color: var(--sectionColor_6);
    color: var(--sectionColor_6);
}

.background_section_color_6{
    background-color: var(--sectionColor_6);
}
.section_color_7{
    border-color: var(--sectionColor_7);
    color: var(--sectionColor_7);
}

.background_section_color_7{
    background-color: var(--sectionColor_7);
}
.section_name{
    position: relative;
}