.itemHeader{
    display: flex;
    border: solid var(--contrast_color);
    border-width: 0 0 3px 0;
    padding: 15px;
    margin-bottom: 25px;
    width: 90vw;
    position: relative;
}

.itemListPage{
    background-color: var(--gradient_color_1);
    color: var(--contrast_color);
    padding: 15px; 
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_content_container{
    width: 100%;
    margin: 25px;
    margin-bottom: 50px;
    
    animation: var(--slide_and_fade);
    
    /* border: solid var(--min_contrast_color);
    border-width: 0px 0px 0px 8px; */
}

.item_content_text{
    
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    
    justify-content: flex-start;
    
    padding: 50px;
}

.item_content_header{

    position: relative;
    /* background: var(--gradient_color_2); */

    padding: 0px;
    padding-right: 50px;
    padding-left: 50px;

    display: flex;
    justify-content: flex-start;
}

.page_content_burger{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.content_burger{
    cursor: pointer;
    margin-left: 20px;
}

.content_burger div{
    width: 25px;
    height: 3px;
    background-color: var(--contrast_color);
    margin: 5px;
}

.single_container{
    /* background-color: var(--gradient_color_2); */
    padding: 20px;

    justify-content: center;

    /* box-shadow: 2px 2px 7px black; */

    animation: open_content 0.3s;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    
    width: 100%;

    /* border: solid var(--contrast_color);
    border-width: 0px 0px 0px 6px ; */
}
.single_container .inner_div{
    width: 100%;
}

.content_header{
    display: flex;
    justify-content: space-between;
}

.content_text{
    margin-top: 15px;
    padding-top: 15px;

    display: none;
    flex-direction: column;

    width: 100%;
}

.show_text{
    display: flex;
    animation: var(--slide_and_fade);
}

@keyframes open_section {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
.content_title_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;

    border: solid var(--min_contrast_color);
    border-width: 0px 0px 8px 0px;
}
.single_content_text{
    font-family: monospace;
}
.single_container h3{
    font-family: 'Times New Roman', Times, serif;
    color: var(--min_contrast_color);

    cursor: pointer;
}
.single_container h3::after{
    content: '▼';
    margin-left: 20px;
}
.single_container.ativo h3::after{
    content: '▲';
    margin-left: 20px;
}
#home_link{
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-family: monospace;
    font-size: 20pt;

    border: solid var(--gradient_color_4);
    border-width: 1px 5px 1px 1px;

    padding: 0px 20px 0px 20px;
}
#home_link:hover{
    border-color: var(--contrast_color);
    transition: .3s;
}
#procedure_page_inner_container{
    margin-top: 100px;
    padding-bottom: 100px;
}