form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

    border: solid var(--gradient_color_3);

    padding: 40px;
    padding-bottom: 0px;

    box-shadow: var(--standard_shadow_strong);
}

.form_section{
    width: 100%;
    min-height: 70vh;
}

.form_header h1{
    letter-spacing: 2px;
}

.input_box{
    position: relative;
}

form button{
    background: none;
    color: var(--contrast_color);
    
    border: none;
    
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 2px; 
}

form .button_container{
    width: 100%;
    
    margin-bottom: 20px;
}

form div{
    display: flex;
    justify-content: space-around;
}

.datalist_container input, select{
    background: none;
    color: var(--min_contrast_color);
    outline: none;

    width: 100%;
    height: 100%;
    padding: 5px;

    font-size: 20pt;
    letter-spacing: 1px;

    border: solid var(--min_contrast_color);
    border-width: 1px;
}

.datalist_container input:focus{
    border-color: var(--contrast_color);
    color: var(--contrast_color);
}
.select:focus{
    border-color: var(--contrast_color);
    color: var(--contrast_color);
}

option{
    background: var(--gradient_color_2);
}

datalist{
    background: var(--gradient_color_2);
}

.datalist_container{
    width: 100%;
}

.input-box.textarea{
    display: flex;
    flex-direction: column;
}

form textarea{
    background: none;
    outline: none;
    color: var(--contrast_color);
    width: 500px;
}

.textarea label{
    color: var(--min_contrast_color);
    position: absolute;
    top: -25px;
    left: 0;
}

.text_input{
    background: none;
    color: var(--contrast_color);
    width: 100%;

    font-size: 20pt;

    border: solid var(--min_contrast_color);
    border-width: 0 0 3px 0;

    outline: none;
}

.text_input:focus ~ .register_label,
.text_input:valid ~ .register_label{
    top: -25px;
    font-size: 15pt;
    color: var(--gradient_color_5);
}