<div id="main_menu">
    <div class="radio_box all_button">
        <input type="radio" name="main_menu" id="radio_user_list" checked>
        <label for="radio_user_list">Usuários</label>
    </div>
    <div class="radio_box all_button">
        <input type="radio" name="main_menu" id="radio_approve_list">
        <label for="radio_approve_list">Requisições</label>
    </div>
</div>