<div id="main_menu">
    <div class="radio_box">
        <input type="radio" name="main_menu" id="radio_user_list">
        <label for="radio_user_list">Usuários</label>
    </div>
    <div class="radio_box">
        <input type="radio" name="main_menu" id="radio_approve_list">
        <label for="radio_approve_list">Requisições</label>
    </div>
    <div class="radio_box">
        <input type="radio" name="main_menu" id="radio_comment_list">
        <label for="radio_comment_list">Comentários</label>
    </div>
</div>