form button{
    background: none;
    color: var(--contrast_color);
    
    border: none;
    
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 2px; 
}

form .button_container{
    width: 100%;
    
    margin-bottom: 20px;
}