form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

    border: solid var(--gradient_color_3);

    padding: 40px;
    padding-bottom: 0px;

    box-shadow: var(--standard_shadow_strong);
    background-color: var(--gradient_color_1);
}

.form_section{
    width: 100%;
    min-height: 70vh;
}

.form_header h1{
    letter-spacing: 2px;
}

form div{
    display: flex;
    justify-content: space-around;
}

