.form_2{
    background: none;
    border: none;
    padding: none;
    margin: none;
    box-shadow: none;
}
.form_2 .input_box{
    width: 100%;
    font-size: 15pt;
    margin: none;
}
.form_2 input{
    background: none;
    border-width: 0 0 1px 0;
    color: var(--contrast_color);
}
.form_2 input:focus{
    outline: none;
}