<section id="{{id}}" class="edit form_section {{class}}">
    {{>forms/header text=title}}
    <form>
        {{>@partial-block}}
        {{>forms/button_container submit=confirm }}
    </form>
</section>