<section id="{{id}}" class="register form_section edition_form">
    {{>forms/header text=title}}
    <form>
        {{>@partial-block}}
        {{>forms/button_container submit=confirm }}
    </form>
</section>