<nav id = "menu" class="section_nav">
    <div class="nav_links">
        <div class="nav_div">
            <a href="/profile" class="a_container profile_link">
                <img src="/img/icon/account.png" alt="">
            </a>
        </div>
        <div class="nav_div">
            {{>@partial-block}}
        </div>
    </div>
</nav>

{{>main/burger id = 'nav_burger' class = 'burger'}}