<header id="edition_header" class="hide">
    <div id="edition_nav">
        <h1>Barra de Edição</h1>
        <div class="buttons">
            {{>edition/button/add class="show"}}
            <select name="open_add_form" id="open_add_form_container">
                <option class="invalid_option" value="">*Conteudo*</option>
                <option value="section">Seção</option>
                <option value="subsection">Subseção</option>
                <option value="procedure">Procedimento</option>
            </select>
        </div>
    </div>
    <div id="empty"></div>

</header>