<nav id = "menu" class="section_nav">
    <div class="nav_links">
        <div class="nav_div">
            <a href="/profile" class="a_container">
                <img src="/img/icon/account.png" alt="">
            </a>
        </div>
        <div class="nav_div">
            {{#item_sections}}
            {{#if this.dataValues.approved}}
                <li>
                    <h1 class="section_links all_button">{{this.dataValues.name}}</h1>

                    <div class="subsection_links while_hidden">
                        {{#each this.dataValues.item_subsections}}
                        {{#if this.dataValues.approved}}
                            <a class = "all_button subsection_anchor" href = '#{{this.dataValues.name}}'>{{this.dataValues.name}}</a>
                        {{/if}}
                        {{/each}}
                    </div>
                </li>
            {{/if}}
            {{/item_sections}}
        </div>
    </div>
</nav>

{{>main/burger id = 'nav_burger' class = 'burger'}}