.edition .icon_button{
    position: static;
}

.add_button{
    border: none;
    background: none;
    color: var(--contrast_color);
    font-size: 30pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.edition_mode{
    display: none;
}

.icon_button{
    cursor: pointer;
    
    height: 30px;
    width: 30px;
    margin: 10px;
}
.edition_mode_button{
    cursor: pointer;
    
    height: 30px;
    width: 30px;
    margin: 10px;
    
    position: absolute;
    z-index: 1;

    top: 5px;
    right: 0px;
}
#main_pencil{
    height: 25px;
    width: 25px;
}
.main_pencil_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;

    font-weight: bold;
    color: var(--contrast_color);
    gap: 5px;
}
.delete_button{
    height: 30px;
    width: 30px;
}
.delete_button.subsection{
    position: static;
}
.delete_button_container.subsection{
    position: fixed;
    top: -100px;
    display: none;
}