.edition .icon_button{
    position: static;
}

.filters .icon_button.close{
    opacity: 0.7;
}
.filters .icon_button.close:hover{
    opacity: 0.3;
}

.edition .open{
    display: none;
    position: fixed;

    top: 8px;
    left: 8px;
}