.edition{
    width: 100%;
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg_img{
    opacity: 0.05;
    height: 400px;
    position:absolute;
    z-index: -1;
    margin-top: 50px;
}

.edition_header{
    min-width: 750px;
    max-width: 100%;
    border: solid var(--gradient_color_3);

    box-shadow: var(--standard_shadow_strong);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

    position: absolute;
    top: 75px;
    background: var(--gradient_color_1);
}

.edition_header div{
    width: 100%;
}

.edition_header select{
    outline: none;
    border: none;
}

.invalid_option{
    color: var(--gradient_color_2);
}

#table_add, #table_edit{
    display: none;
}

.show{
    display: flex !important; 
}