.filters{
    background: black;
    width: 100%;
    padding: 20px;

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    border: solid var(--gradient_color_3);
    box-shadow: var(--standard_shadow_strong);

    position: relative;
}
.filters input{
    border: solid var(--gradient_color_3);
    font-size: 15pt;
}
.filters label{
    font-size: 18pt;
}
.filters h1{
    font-size: 20pt;
    color: var(--gradient_color_4);
}
.filters div{
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto ;
    justify-content: center;
    gap: 10px;
}
.filters header{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;

    justify-content: center;
    align-items: center;
}