.filters .datalist_container{
    display: none;
}

.filters{
    background: var(--gradient_color_1);
    width: 100%;
    padding: 10px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    top: 0px;
    border-bottom: solid var(--gradient_color_3);
    box-shadow: var(--standard_shadow_strong);
    position: absolute;
    align-items: center;
}
.filters input.datalist_input{
    border: none;
    font-size: 15pt;
    border: solid var(--gradient_color_4);
    border-width: 0 0 1px 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
.filters label{
    font-size: 18pt;
}
.filters h1{
    font-size: 20pt;
    color: var(--gradient_color_4);
}
.filters div{
    display: flex;
    grid-template-columns: auto auto auto ;
    justify-content: center;
    gap: 10px;
}
.filters header{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.filters select{
    border: none;
}
.filters select .invelid_option{
    opacity: 0;
}
.filters option{
    display: none;
}

.show{
    display: flex;
}

#filter_button{
    display: none;
}