.edition ol{
    display: none;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    list-style: none;
    width: 100%;
    
    padding: 0 30px 0 30px;
    
    border: solid var(--gradient_color_3);
    box-shadow: var(--standard_shadow_strong);
    position: relative;
}
.edition ol .item_container{
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    max-height: 75vh;
    overflow-y: scroll;

    padding: 100px 0 30px 0;

    z-index: -1;
}
.edition .li_box{
    background-color: var(--gradient_color_1);
    padding: 20px;

    border: solid var(--gradient_color_3);
    
    width: 500px;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-shadow: var(--standard_shadow_strong);
}
.edition li{
    color: var(--contrast_color);
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1px;
}
.edit_button_container img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.edit_button_container{
    display: flex;
    gap: 10px;
}
.edition .filter_container{
    width: 100%;
    display: flex;
}