<div id="user_list_container" class="{{class}}">
    <header class="list_header">
        <div id="edition_container">
            {{>edition/button/add id="add_user" class="show"}}
            {{>edition/button/main_delete id="delete_user"}}
            {{>edition/button/main_delete class="" id="main_delete_button"}}
        </div>
        <div id="user_quantity_container">
            <p id="user_quantity">25</p>
            <img id="user_quantity_icon" src="/img/icon/group.png" alt="">
        </div>
    </header>
    <div id="user_list_content" class="list_content">
        {{>edition/forms/user  class=""}}
        {{>@partial-block}}
    </div>
</div>