<div class="item_content_container">
    <div class="item_content_header">                
        <h2 id="{{id}}">{{title}}</h2>
        {{>main/burger class = 'page_content_burger content_burger all_button'}}
    </div>
    <div class="item_content_text">
        {{#each category}}
        <div>
        <div class="single_container">
            <div>
                <div class="content_header">
                    <h3>{{this.dataValues.title}}</h3>
                    {{>main/burger class='single_content_burger content_burger all_button'}}
                </div>
                <div class="content_text">
                    <p>{{{this.dataValues.content}}}</p>
                </div>
            </div>
        {{>@partial-block}}
        </div>
        </div>
        {{/each}}
    </div>
</div>