{{#>edition/forms/default action=action id=id title=title confirm='Adicionar'}}
    {{>forms/input_box name="procedure_title" type="text" label="*Título"}}

    {{#>forms/select name="procedure_subsection" label="Subseção"}}
        {{>forms/invalid_opt label="Subseção"}}
        {{#item_sections}}
            {{#each this.item_subsections}}
            {{#if this.dataValues.approved}}
                <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
            {{/if}}
            {{/each}}
        {{/item_sections}}
    {{/forms/select}}
    
    {{>forms/textarea_box name="procedure_description_input" label="*Descrição"}}
{{/edition/forms/default}}