{{#>edition/forms/default action="/create_section" id="add_section_form" title="Nova Seção" confirm="Adicionar"}}
    {{>forms/input_box name="section_title" type="text" label="*Título"}}

    {{#>forms/select name="section_department" label="Departamento"}}
        {{#departments}}
            <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
        {{/departments}}
    {{/forms/select}}

{{/edition/forms/default}}