{{#>edition/forms/default action=action id=id title=title confirm="Adicionar"}}
    {{#>forms/select name="solution_procedure" label="Procedimento"}}
        <option value="{{this.dataValues.id}}">{{this.dataValues.title}}</option>
    {{/forms/select}}

    {{>forms/input_box name="solution_title" type="Text" label="*Título"}}

    {{>forms/textarea_box name="solution_description" label="*Descrição"}}
{{/edition/forms/default}}