<div id="requisition_list_container" class="{{class}}">
    <header class="list_header" id="requisition_list_header">
        <h1>Requisições pendentes: <span id="pendant_requisition_qtd"></span></h1>
    </header>
    <div id="req_menu">
        {{>profile/main_column/requisition/radio_box name="req-section" label="Seção"}}

        {{>profile/main_column/requisition/radio_box name="req-subsection" label="Subseção"}}

        {{>profile/main_column/requisition/radio_box name="req_procedure" label="Procedimento"}}
        
        {{>profile/main_column/requisition/radio_box name="req_solution" label="Solução"}}
        
        {{>profile/main_column/requisition/radio_box name="req_obs" label="Obs"}}

        {{>profile/main_column/requisition/radio_box name="req_issue" label="Problema"}}
    </div>
    <div class="list_content">
        {{#>profile/main_column/requisition/req_container}}
            <p><strong>Linha:</strong> teste</p>
            <p><strong>Seção:</strong> Seção</p>
            <p><strong>Sub:</strong> reparo/troca de placa mãe</p>
        {{/profile/main_column/requisition/req_container}}
    </div>
</div>