<div id="requisition_list_container" class="{{class}}">
    <header class="list_header" id="requisition_list_header">
        <h1>Requisições pendentes: <span id="pendant_requisition_qtd"></span></h1>
    </header>
    <div id="req_menu">
        {{>profile/main_column/requisition/radio_box name="req_section_radio" label="Seção"}}

        {{>profile/main_column/requisition/radio_box name="req_subsection_radio" label="Subseção"}}

        {{>profile/main_column/requisition/radio_box name="req_procedure_radio" label="Procedimento"}}
        
        {{>profile/main_column/requisition/radio_box name="req_solution_radio" label="Solução"}}
        
        {{>profile/main_column/requisition/radio_box name="req_obs_radio" label="Obs"}}

        {{>profile/main_column/requisition/radio_box name="req_issue_radio" label="Problema"}}
    </div>
    <div class="list_content">
        {{>profile/main_column/requisition/lists/procedure class="hide"}}
        {{>profile/main_column/requisition/lists/subsection class="hide"}}
        {{>profile/main_column/requisition/lists/section class="hide"}}
        {{>profile/main_column/requisition/lists/solution class="hide"}}
        {{>profile/main_column/requisition/lists/obs class="hide"}}
        {{>profile/main_column/requisition/lists/issue class=""}}
    </div>
</div>