<div class="req_container">
    <div class="req_info_container">
        <p class="req_title_container"><span class="req_title">{{title}}</span></p>
        <hr>
        {{>@partial-block}}
        
        <hr>
        <p class="req_author_container"><strong>Por: </strong><span class="req_author_name">Kevin Alexsander de Jesus</span> </p>

        <div class="req_button_container">
            <button class="all_button approve_button">Aprovar</button>
            <button class="all_button reprove_button">Reprovar</button>
        </div>
    </div>
    {{#if this.dataValues.description}}
    <div class="req_description_container">
        <p class="req_description_label"><strong>Descrição:</strong></p>
        <p>{{{this.dataValues.description}}}</p>
    </div>
    {{/if}}
    {{#if this.dataValues.content}}
    <div class="req_description_container">
        <p class="req_description_label"><strong>Descrição:</strong></p>
        <p>{{{this.dataValues.content}}}</p>
    </div>
    {{/if}}
</div>
<br><br>
