<div class="req_container">
    <div class="req_info_container">
        <p class="req_title_container"><span class="req_title">Novo Procedimento</span></p>
        <hr>
        {{>@partial-block}}
        
        <hr>
        <p class="req_author_container"><strong>Por: </strong><span class="req_author_name">Kevin Alexsander de Jesus</span> </p>

        <div class="req_button_container">
            <button class="all_button approve_button">Aprovar</button>
            <button class="all_button reprove_button">Reprovar</button>
        </div>
    </div>
    <div class="req_description_container">
        <p class="req_description_label"><strong>Descrição:</strong></p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic aliquid voluptates quidem. Nihil corporis molestias mollitia sunt! Consectetur aliquid labore inventore consequuntur maxime quidem nesciunt exercitationem repellat aperiam? Nam, ducimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque illum labore id, quo repudiandae repellendus praesentium, excepturi ratione quia architecto quod reiciendis laudantium atque, odit delectus! Cumque vel natus facilis? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, esse. Provident cupiditate autem in, blanditiis, odio dolorum architecto sunt, tempore sit corporis quasi amet itaque dolores quae molestias sapiente a?</p>
    </div>
</div>
<br><br>
