/* cabeçalho */
.header{
    color: var(--gradient_color_1);
    margin-top:0;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    background-color: var(--mainColor);
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;

    z-index: 1;
}

.headerTitle{
    color: var(--gradient_color_5);
}

.home_button{
    color: var(--contrast_color);
    cursor: pointer;

    font-weight: bold;
    font-size: 15pt;
    letter-spacing: 1px;

    width: 30px;
    height: 30px;

    position: fixed;
    right: 1vw;
    top: 2vh;
    z-index: 0;
}
