*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
}

a:hover{
    color: var(--contrast_color);
}

:root{
    
    /*
    --mainColor: #FF6347;
    --gradient_color_1: #fff;
    --gradient_color_2: #eee;
    --gradient_color_3: #ddd;
    --gradient_color_4: #fff;
    --contrast_color: #000;
    */
    --mainColor: #000;
    --gradient_color_1: #111;
    --gradient_color_2: #222;
    --gradient_color_3: #333;
    --gradient_color_4: #444;
    --gradient_color_5: #555;
    --contrast_color: #ddd;
    --min_contrast_color: #aaa;

    --sectionColor_1: #8d64ed;
    --sectionColor_2: #6495ED;
    --sectionColor_3: #64e8ed;
    --sectionColor_4: #5fc751;
    --sectionColor_5: #bded64;
    --sectionColor_6: #ecc14b;
    --sectionColor_7: #ec7e4b;

    --errorColor: rgb(255, 121, 121);

    --standard_shadow: 0 0 5px black;
    --standard_shadow_strong: 0 0 10px black;

    --slide_and_fade: slide_and_fade .5s forwards
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--gradient_color_4);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.507);
}

body{
    padding-top: 50px;
    margin-left:0px;
    background-color: var(--gradient_color_1);
    font-family: Arial, sans-serif;
    font-size: 14pt;
    overflow-x: hidden;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    min-height: 77vh;
}

section{
    margin-bottom: 40px;
    justify-content: center;
}

p{
    text-align: justify;
    color: var(--min_contrast_color);
}

strong{
    color: var(--contrast_color)
}

h4, a{
    text-decoration: none;
    font-weight: bold;
    color: var(--contrast_color);
}

h3, h2, h1 {
    text-align: center;
}

ul{
    list-style: none;
}

.mainUl{
    list-style: none;
    margin:0px; 
    padding: 0px;
}

.subUl{
    list-style: disc;
    padding: 15px;
}

.concept{
    cursor: pointer;
}

.concept:hover{
    color: #666;
    text-decoration: underline;
}

.all_button:hover{
    opacity: 0.5;
    transition: 0.1s;
    color: var(--contrast_color);
}
.invalid_option{
    display: none;
}

.show{
    display: flex !important;
}
span.id{
    opacity: 0.4;
    margin-right: 5px;
}

@keyframes slide_and_fade {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}
p {
    font-size: 15pt;
}