.modalContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.932);

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;

    display: none;
    justify-content: center;
    align-items: center;
}

.modalFrame{
    width: 60vw;
    min-width: 400px;
    background-color: var(--gradient_color_2);
    
    box-shadow: 3px 3px 8px black;

    animation: var(--slide_and_fade);
    border: solid var(--contrast_color);
    border-width: 0 0 0 8px;
}
.block_modal_frame{
    width: 60vw;
    min-width: 400px;
    background: none;
    padding: 20px;
    
    animation: open_modal 0.5s;
}

.modalHeader{
    display: flex;
    position: relative;
    justify-content: center;
    background: var(--gradient_color_3);
    padding: 10px;
}

.modalCloseButton{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    padding: 5px;
    width: 40px;
    height: 40px;
    background: none;

    border-width: 0;

    font-weight: bold;
    font-size: 20pt;
    font-family: monospace;
    color: var(--contrast_color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modalContainer.show{
    display: flex;
}

.modal_title{
    letter-spacing: 1px;
}

.error{
    color: var(--errorColor); 
}

.modalContent{
    color: var(--contrast_color);
    border-width: 0 0 0 0 ;
}

@keyframes open_modal {
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}