#nav_burger{
    position: fixed;
    top: 10px;
    left: 10px;
}

nav {
    display: flex;
    justify-content: center;

    background-color: var(--mainColor);

    position: fixed;
    left: -15px;
    top: -15px;

    padding: 0px;
}

.nav_links{
    position: absolute;
    left: 0vh;
    top: 15px;

    min-width: 200px;
    height: 100vh;
    overflow-y: scroll;

    padding: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: var(--gradient_color_2);
    box-shadow: 2px 2px 7px black;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateX(-110%);
    transition: transform 0.2s ease-in;

    z-index: 1;
}

.nav_links a{
    letter-spacing: 3px;
}

.nav_div{
    border: solid var(--contrast_color);
    border-width: 2px 0 0 0;

    margin: 0;
    margin-top: 10px;
    
    padding: 15px;
    padding-left: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.procedure_nav{
    min-width: 200px;
}

.burger{
    height: 50px;
    width: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    z-index: 3;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--contrast_color);
    margin: 2px;
}
.burger{
    position: absolute;
    top: 20px;
    left: 5vh;
    cursor: pointer;
}

.section_links{
    font-size: 18pt;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

.subsection_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 33px;
    width: 360px;
    
    transform: translateX(-150%);
    transition: transform 0.3s ease-in;

    border: solid var(--min_contrast_color);
    border-width: 1px 0 0 0;
}

.settings_button{
    cursor: pointer;
    width: 28px;
    position: absolute;
    top: 18px;
    right: 25px;
    opacity: 0.9;

    display: none;
}

.settings_nav{
    position: absolute;
    top: 2px;
    right: 10px;
}

.settings_links_container{
    position: absolute;
    top: 50px;
    right: -10px;
    height: 100vh;
    
    background-color: var(--gradient_color_2);
    box-shadow: 2px 2px 7px black;
    
    font-size: 16pt;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 20px;
    font-weight: bold;
    
    transform: translateX(110%);
    transition: transform 0.2s ease-in;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show{
    display: flex;
    transform: translateX(0%);
}
.while_hidden{
    transition: 0s;
    position: absolute;
}