<header class="edition_header">
    <div id="operation_container" class="radio_container">
    <select name="operation" id="operation">
        <option class="invalid_option" value="">*Operação*</option>
        <option value="add">Adicionar</option>
        <option value="edit">Editar</option>
    </select>
    </div>
    <div id="table_container" class="redio_container">
        <select class="show" name="table" id="table">
            <option class="invalid_option" value="">*Tabela*</option>
            <option value="department">Departamento</option>
            <option value="section">Seção</option>
            <option value="subsection">Subseção</option>
            <option value="procedure">Procedimento</option>
            <option value="solution">Solução</option>
            <option value="obs">Observação</option>
            <option value="issue">Possível Problema</option>
            <option value="user">Usuário</option>
        </select> 
    </div>
</header>