<div class="li_box">
    <li>{{title}}</li>
    <div class="edit_button_container">
        <img class="edit_item all_button" src="/img/icon/pencil.png" alt="Modo Edição">
        <img class="delete_item all_button" src="/img/icon/trash-bin.png" alt="Modo Edição">
    </div>
</div>