{{>edition/button/edition_mode class=""}}
<header id="edition_header" class="hide">
    <div id="edition_nav">
        <h1>Barra de Edição</h1>
        <div class="buttons">
          
            <select name="open_add_form" id="add_options_container" style="display: flex;">
                <option class="invalid_option" value="">
                    {{>edition/button/add id="main_add_button" class="show"}}
                </option>
                {{>@partial-block}}         
            </select>
            {{>edition/button/main_delete class="" id="main_delete_button"}}
            {{>edition/button/main_edit class="" id="main_edit_button"}}
        </div>   
    </div>
    <div id="empty"></div>
</header>

{{#>main/block_modal id="edition_modal"}}
    <!-- add -->
    {{>edition/forms/section
    id="add_section_form" 
    title="Nova Seção" 
    action="/create_section"
    }}
    {{>edition/forms/subsection 
    id="add_subsection_form" 
    title="Nova Subseção" 
    action="/create_subsection"
    }}
    {{>edition/forms/procedure 
    id="add_procedure_form" 
    title="Novo Procedimento" 
    action="/create_procedure"
    }}
    {{>edition/forms/solution 
    id="add_solution_form" 
    title="Nova Solução" 
    action="/create_solution"
    }}
    {{>edition/forms/issue 
    id="add_issue_form" 
    title="Novo Problema" 
    action="/create_issue"
    }}
    {{>edition/forms/obs 
    id="add_obs_form" 
    title="Nova Observação" 
    action="/create_obs"
    }}
{{/main/block_modal}}

<!--edition-->
<script type="module" src="/js/edition/open_edition.js"></script>
<script type="module" src="/js/edition/delete.js"></script>
<script type="module" src="/js/edition/update/content.js"></script>